<% layout('index') %>

<div class="container">
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.laptopmag.com/images/uploads/4989/g/apple-macbook-pro-13-2016-nw-g02.jpg" alt="">
          <div class="caption clearfix">
            <h3>title</h3>
            <p>description</p>
            <p class="price pull-left">$ 100</p>
            <a href="#" class="btn btn-success pull-right">Add to cart</a>
          </div>
       </div>
      </div>
  </div>
</div>